/* /// Navbar */
.navbar__wrapper {
  background-color: #fff;
  margin-bottom: 1rem;
  padding: 0.5rem;
  position: relative;
  height: 7vh;
  display: flex;
  justify-content: flex-end;
}

.cart__sum {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-top: 1px solid rgb(198, 198, 198);
  margin: 1rem;
  font-weight: 500;
}

.cart__button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translate(5%, -50%);
}

.cart__emoji-wrapper {
  display: grid;
  grid-template-columns: 1fr 0.8fr;
}

.cart__emoji {
  font-size: 2rem;
  cursor: pointer;
}

.cart__emoji-items,
.cart__emoji-no-items {
  font-size: 1rem;
  margin: 0 0.5rem;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translate(5%, -50%);
}

.cart__emoji-items {
  background-color: rgb(135, 188, 70);
  border-radius: 100%;
  padding: 0.1rem;
  color: #fff;
  margin: 0.2rem 0;
  width: 1.5rem;
  height: 1.5rem;
}

.cart__emoji-numItems {
  margin: 0.08rem;
}

/* /// ProductCart */
.cart__menu {
  border-radius: 1rem 1rem 0 0;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
  0px 1px 1px 0px rgba(0, 0, 0, 0.14),
  0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  width: 90%;
  top: 3rem;
  right: 0;
  overflow: scroll;
  z-index: 2;
  position: absolute;
}

.cart__items {
  list-style: none;
  padding: 1rem;
  margin: 1rem;
}

.products__cart {
  margin: 1.3rem 0;
}

.products__cart-grid {
  display: grid;
  grid-template-columns: 1fr 0.3fr;
}

.products__cart__name-title {
  font-weight: 500;
  margin: 0.5rem 0 0;
}

.products__cart-price {
  display: flex;
  color: #7d7d7d;
}

.products__cart__price-text {
  margin: 0;
}

.products__quantity {
  display: flex;
  justify-content: flex-end;
}

.products__quantity button,
.products__quantity span {
  background-color: transparent;
  font-size: 1rem;
  padding: 0.3rem;
  width: 1.8rem;
  text-align: center;
}

.products__quantity button {
  font-weight: 200;
  border: solid 1px grey;
  color: #7d7d7d;
  cursor: pointer;
}

.products__quantity span {
  font-weight: 500;
  margin: 0;
  border-top: solid 1px grey;
  border-bottom: solid 1px grey;
}


@media screen and (min-width: 40rem) {
  .cart__menu {
    width: 50%;
    right: 1rem;
  }
}

@media screen and (min-width: 60rem) {
  .cart__menu {
    width: 30%
  }
}